# Build folders
bin/
obj/

# Rider / IntelliJ
.idea/
*.sln.iml

# User files
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Environment
.env
appsettings.Development.json